section.image {
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  width: 100%;
  font-family: 'Lato', Arial, sans-serif;
}
.content {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  border: 2px solid black;
}
section.content{
  padding: 2%;
  margin : 2%;
}

h1.content::before{
  height: 20px;
  width: 100%;
  background-color: red;
}

h1.content{
  background-color: green;
  margin: -2%;
  margin-bottom: 0px;
  padding-left: 15%;
  font-family: 'Lato', Arial, sans-serif;
  color: grey;
  cursor: pointer;
}

section>img{
  position: relative;
  margin: 0px;
  padding: 0px;
  border: medium none;
  width: 110%;
  vertical-align: center;
  height: inherit;
  left: -5%;
  top:-10px;
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  font-family:'Lato', Arial, sans-serif;
}
.centered>.bouton{
  color: #fff;
  background-color: rgba(50,50,50,0.75);
  border: 5px solid rgba(200,200,200,0.75);
  border: 2px solid rgba(200,200,200,0.75);
  position: absolute;
  top:80%;
  left:50%;
  margin-top: 50px;
  padding: 10px;
  transform: translate(-50%, -50%);
  font-size: 35px;
  text-decoration: none;
}

.header{
  height: 50px;
  background-color: white;
}

section+section{
  max-width: 100%;
  position: relative;
}

.backimg {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('img/hack.gif');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.imgcontent {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
table , td,th {
  border: 1px solid black;
  border-collapse: collapse;
}

table,td,th{
  padding: 7px;
}
