html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

body{
  margin:0;

  font-family:'Verdana', Arial, sans-serif;
}

nav{
  min-height: 40%;
  background-color: #41a741;
  margin: 0;
}

article,aside,details,div,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block;
  position:relative;
}

.zng-table td,.zng-table,.zng-table th{
  border:1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px;
}
.zng-admin-supp{
  width: 15px;
  height: 15px;
  left:40%;
  background-color: red;
  background-image: url("../img/supp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor:pointer;
}

#header {
  color: #fff;
  background-image: url("../img/hack.gif");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  padding: 0.01em 60px;
  box-shadow: 0px 0px 151px 64px black;

  margin-top: -32px;
  margin-bottom: -16px;

}
.zng-theme {
  color:#fff;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
}

.zng-padding-small{padding:4px 8px}.zng-padding{padding:8px 16px}.zng-padding-large{padding:12px 24px}
.zng-padding-16{padding-top:16px;padding-bottom:16px}.zng-padding-24{padding-top:24px;padding-bottom:24px}
.zng-padding-32{padding-top:32px;padding-bottom:32px}.zng-padding-48{padding-top:48px;padding-bottom:48px}
.zng-padding-64{padding-top:64px;padding-bottom:64px}
.zng-container{
  padding:0.01em 16px
}

#header>.zng-center{
  text-align:center;
  font-weight: bold;
  font-family:'Verdana', Arial, sans-serif;
  margin-bottom: 16px;
}


.zng-right{
  text-align: right;
}

.zng-button:hover{
  color:#000;
  background-color:#ccc
}

.zng-btn,.zng-button{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:black;
  background-color:#41a741;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  font-weight: bold;
}

.zng-xlarge{
  font-size:24px;
  font-weight:900;
}


.zng-xxlarge{
  font-size:36px
}

.zng-xxxlarge{
  font-size:48px
}
.zng-black-btn{
  color: #41a741;
  background-color: black;
}

.zng-theme-l5 {color:#000 ; background-color:#e9fffd }
.zng-theme-l4 {color:#000 ; background-color:#b7fff8 }
.zng-theme-l3 {color:#000 ; background-color:#6efff1 }
.zng-theme-l2 {color:#000 ; background-color:#26ffe9 }
.zng-theme-l1 {color:#fff ; background-color:#00dcc6 }
.zng-theme-d1 {color:#fff ; background-color:#008578 }
.zng-theme-d2 {color:#fff ; background-color:#00766a }
.zng-theme-d3 {color:#fff ; background-color:#00685d }
.zng-theme-d4 {color:#fff ; background-color:#005950 }
.zng-theme-d5 {color:#fff ; background-color:#004a43 }

.zng-theme-light {color:#000 ; background-color:#e9fffd }
.zng-theme-dark {
  color:#fff ;
  background-color:#004a43;
  background-color: rgba(0,0,0,0.75);
  border: 5px solid rgba(65,165,65,0.3);
}

.zng-theme-action {color:#fff ; background-color:#004a43 }

.zng-theme {color:#fff ; background-color:#009688 }
.zng-text-theme {color:#009688 }
.zng-border-theme {border-color:#009688 }

.zng-hover-theme:hover {color:#fff ; background-color:#009688 }
.zng-hover-text-theme:hover {color:#009688 }
.zng-hover-border-theme:hover {border-color:#009688 }

.zng-teal,.zng-hover-teal:hover{color:#fff;background-color:#41a741}
.zng-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.zng-btn,.zng-button{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.zng-disabled,.zng-btn:disabled,.zng-button:disabled{cursor:not-allowed;opacity:0.3}
.zng-disabled *,:disabled *{pointer-events:none}
.zng-btn.zng-disabled:hover,.zng-btn:disabled:hover{box-shadow:none}

.zng-solo{
  width: 90%;
  margin: 5% 5% 0 5%;
}
.zng-half{
  float:left;
  width:42%;
  padding:0 2.5% 0 5%;
}
.zng-sec-half{
  padding:0 5% 0 2.5%;
}



.zng-margin-top{margin-top:30px}

.zng-card{
  text-align:left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  bottom: 0;
  min-width: 400px;
  background-color: white;
  min-height:460px;
  height: 80%;
  border-radius: 2%
}
.zng-card h2{
  text-align: center;
  background-color: #000000;
  padding:20px 0 ;
  margin: 0;
  width: 100%;
  color: #41a741;
}
.zng-card>div{
  padding-left:3%

}

.zng-card>p,.zng-card>form,.zng-card>div,.zng-card>table{
  margin:2%;
  font-weight: bold;
  font-family:'Verdana', Arial, sans-serif;
  padding-bottom: 2%;
}
.zng-card>div.p{
  font-weight: bold;
  font-family:'Verdana', Arial, sans-serif;
}
.nav-profil-img{
  background-image: url("../assets/img/default.png");
  background-color:#41a741;
  border-color:1px solid black;
  width:20px;
  height:20px;
  padding:10px;
}
.zng-nav{
  padding-left:  60px;
}
.zng-bar-item{
  margin:0 10px;
}
.zng-bar .zng-bar-item{
  padding:8px 16px;

  float:left;
  width:auto;
  background-color: #41a741;
  color: black;
  border:none;
  display:block;
  outline:0
}
.formsupp{
  float: right;
  width: 30%
}
#tablesupp th,#tableuser th{
  background-color: black;
  color: #41a741
}
#tablesupp td,#tableuser td{
  background-color: #41a741;
  color: black
}
#tablesupp,#tableuser{
  width:90%;
  text-align:center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26),5px 5px 20px 0 rgba(0,0,0,0.32);
}

#tableuser .tr-admin td{
  background-color: #d4010a;
}

.suppcolumn{
  width:10px;
}

.zng-text-form{
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26),5px 5px 20px 0 rgba(0,0,0,0.32);
  border: 3px solid rgba(0,0,0,0.6);
  padding: 12px 0px 12px 20px;
  margin: 8px 0px 8px 0px;
  height: 25px;
  width: 96.3%;
  color: white;

  box-sizing: content-box;
}
.share{
  cursor:pointer;
  color: green;
  text-decoration: underline;
  text-decoration-style:dotted;
}

.important{
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}

figure.profil {
  text-align: center;
  background-color: white;
  border-radius: 15%;
  border: solid 2px black;
  width: 13%;
  color: black;
  float: right;
  z-index: 2;
  cursor: pointer;
  margin-top:48px;
}

button.profil{
  border-radius: 50%;
  border:none;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 16px;
  background-color: darkgreen;
  background-image: url("../img/defaut.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 1;
}

#sharepanel{
  position: absolute;
  visibility: hidden;
}

.zng-btn-form,.zng-btn-form-half{
  background-color:black;
  color: #41a741;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26),5px 5px 20px 0 rgba(0,0,0,0.32);
  border: 3px solid rgba(0,0,0,0.6);
  padding: 12px 0px;
  margin: 8px 0;
  height: 25px;
  width: 98%;
  cursor: pointer;
  box-sizing: content-box;
}

.zng-hidden-panel{
  display:none;
  position: absolute;
  left: 50%;
  width: 50%;

  z-index: 1;
  border: 1px solid black;
}

.zng-btn-form-half{
  width: 48.5%;
  display: inline-block;
  float:left;
  color:#41a741;
}
.zng-btn-form-half+.zng-btn-form-half{
  float: right;
}
.zng-btn-form-half[disabled]{
  background-color: grey;
  cursor: default;
  border-color: grey;
  color: white;
}

.zng-arrow-form{
  margin: 0;
  padding: 0 10;
  width: 100%;
}

.zng-nav{
  font-family:'Verdana', Arial, sans-serif;
}

.zng-form{
  height: 500px;
}

body{
  background-color: #28313C;
  height: 100%
}

.warning {
  border: 2px solid #f39389;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  background-color: #fbd8d4;
  color: #3b3c40;
}

.zng-footer{
  bottom: 0;
}

#mot
{
  width:275px;
}

.lien_secret
{
  text-decoration:none;
  color:black;
}
#fs1,#fs2,#fs3{
  width: 95%;
}


#fs2,#fs3{
  display:none;
}

#color
{
  color:white;
}
.zng-data{
  display: none;
}

.label
{
  width: 30px;
  center;
}
.rect-fsn{
  width: 20px;
  height: 2px;
  background-color: red;
  border-radius: 30%;
  border: 2px solid black;
  padding: 2px 40px;
  display: inline-block;
  margin: 0 20px;
}

#formeni41>input{
  margin:0 100px 5px 0;
  display: inline;
}
