#main td{
  padding:15px;
  cursor: pointer;
  width: 5px;
  height: 5px;
  border: 1px dashed black;
}

#main{
  border-collapse: collapse;
}




[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    line-height: 50px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 46px;
    height: 46px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #000;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 40px;
    height: 40px;
    background: white;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:checked + label:before{
  background-color: orange;
  /* Couleur de selection */
}

/* les quatres couleurs */
.coul0,#coul0:not(:checked) + label:before,#coul1:checked + label:after{
  background-color: white;
}
.coul1,#coul1:not(:checked) + label:before,#coul1:checked + label:after{
  background-color: black;
}
.coul2,#coul2:not(:checked) + label:before,#coul2:checked + label:after{
  background-color: red;
}
.coul3,#coul3:not(:checked) + label:before,#coul3:checked + label:after{
  background-color: #41a741;
}
.coul4,#coul4:not(:checked) + label:before,#coul4:checked + label:after{
  background-color: yellow;
}
