#main td{
  padding:15px;
  cursor: pointer;
  width: 5px;
  height: 5px;
  border: 1px dashed black;
}

#main{
  border-collapse: collapse;
}



.coul0{
  background-color: white;
}
.coul1{
  background-color: brown;
}
.coul2{
  background-color: red;
}
.coul3{
  background-color: green;
}
.coul4{
  background-color: green;
}
